# System Files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/

# Build Artifacts
service-areas/
locations.html
sitemap.xml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
*.swp
*.swo
